[submodule "native/hoshidicts"]
	path = native/hoshidicts
	url = https://github.com/HuangAntimony/hoshidicts.git
[submodule "docs/reference/Niratan"]
	path = docs/reference/Niratan
	url = https://github.com/W1ght/Niratan.git
